@model DoctorViewModel

<div class="box">
    @Html.Partial("Forms/_BoxHeader", new BoxHeaderViewModel("Médico", "fa fa-user-md", true))
    <div class="box-content" data-collapsed="true" style="display: none;">
        @using (Html.IkeCodeBeginForm(string.Format("{0}doctor/{1}", IkeCodeApiConfig.Person.BaseUrl, Model.Doctor.Id > 0 ? Model.Doctor.Id.ToString() : ""),
                                    FormMethod.Post,
                                    new
                                    {
                                        id = "_doctorForm",
                                        role = "form",
                                        @class = "form-horizontal"
                                    }))
        {
            @Html.AntiForgeryToken();
            @Html.HiddenFor(m => m.PersonId)
            @Html.HiddenFor(m => m.Doctor.Id)
            @Html.HiddenFor(m => m.Doctor.DateIns)
            @Html.HiddenFor(m => m.Doctor.LastUpdate)

            <div class="form-group">
                @Html.LabelFor(m => m.Doctor.AdmissionDate, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-3">
                    @Html.TextBoxFor(m => m.Doctor.AdmissionDate, new { @class = "form-control", @data_datetimepicker = "date" })
                    @Html.ValidationMessageFor(m => m.Doctor.AdmissionDate)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-8 col-sm-4">
                    <button type="reset" class="btn btn-default btn-label-left">
                        Limpar
                    </button>

                    @if (Model.Doctor.Id > 0)
                    {
                        <button type="button" class="btn btn-danger btn-label-left">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            Excluir
                        </button>
                    }

                    <button type="submit" class="btn btn-primary btn-label-left">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        Salvar
                    </button>
                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript" src="~/Scripts/ViewModels/Doctor.js"></script>
<script type="text/javascript">
    var doctor = new Doctor('#_doctorForm button.btn-danger');
    doctor.Id = @Model.Doctor.Id;
</script>