@model PersonViewModel
@{
    ViewBag.Title = "Cadastro -> Pessoa";
}

<div class="col-xs-12 col-sm-12">
    @Html.Partial("_Person", Model)

    @if (Model.Person.Id > 0)
    {
        @Html.Partial("_NaturalPerson", Model)

        @Html.Partial("_Doctor", Model)

        @Html.Partial("_LegalPerson", Model)


        @Html.Partial("_PhonesGrid")

        @Html.Partial("_AddressesGrid")

        @Html.Partial("_DocumentsGrid")
    }
</div>
@Html.Partial("_PhoneEditor")
@Html.Partial("_AddressEditor")
@section scripts{
    @*#IF DEBUG{
    <script type="text/javascript">
        common.EnableLogGlobal = true;
    </script>
    }*@

    <script type="text/javascript" src="~/Scripts/ViewModels/Person.js"></script>
    <script type="text/javascript" src="~/Scripts/ViewModels/Phone.js"></script>
    <script type="text/javascript" src="~/Scripts/ViewModels/Address.js"></script>
    <script type="text/javascript" src="~/Scripts/ViewModels/Document.js"></script>
    <script type="text/javascript">
        person.Id = @Model.Person.Id;
        person.init();
    </script>
}
