@model LostPasswordViewModel
@{
    var includeLayout = Model != null && Model.IncludeLayout;
    ViewBag.Title = "Clinike - Esqueci minha Senha";
    Layout = includeLayout ? "~/Views/Account/_LayoutLogin.cshtml" : null;
}

<div id="lostpassword" class="animate form" style="@Html.Raw(includeLayout ? "opacity: 1;" : "")">
    @using (Html.BeginForm("LostPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h1>Esqueci minha Senha</h1>
        @Html.EditorFor(m => m.ValidationSummary)
        <p>
            @Html.LabelFor(m => m.Email, new { data_icon = "e" })
            @Html.TextBoxFor(m => m.Email, new { placeholder = "seuemail@seuprovedor.com" })
        </p>
        <p>
            Ou
        </p>
        <p>
            @Html.LabelFor(m => m.UniqueCode, new { data_icon = "p" })
            @Html.TextBoxFor(m => m.UniqueCode, new { placeholder = "ex. X8df90EO" })
        </p>
        <p class="signin button">
            <input type="submit" value="Enviar" />
        </p>
        <p class="change_link">
            Já tem um cadastro?
            @if (includeLayout)
            {
                @Html.RouteLink("Faça seu login", "AccountLogin")
            }
            else
            {
                <a href="#tologin" class="to_register">Faça seu login</a>
            }
        </p>
    }
</div>
