@model EditUserViewModel
@{
    ViewBag.Title = "Editar Usuário";
}
<div class="col-xs-12 col-sm-12">
    <div class="box">
        <div class="box-header">
            <div class="box-name">
                <i class="fa fa-user"></i>
                <span>Edição de Usuário</span>
            </div>
            <div class="box-icons">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="expand-link">
                    <i class="fa fa-expand"></i>
                </a>
            </div>
            <div class="no-move"></div>
        </div>
        <div class="box-content">
            <h4 class="page-header">Editar</h4>

            @using (Html.BeginRouteForm("AccountEdit", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
                @Html.ValidationSummary(true)
                
                <div class="form-group">
                        @Html.LabelFor(model => model.UserName, new { @class = "control-label col-sm-2" })
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UserName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, new { @class = "control-label col-sm-2" })
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-10 col-sm-2">
                            <input type="submit" value="Salvar" class="btn btn-default" />
                        </div>
                    </div>
            }
        </div>
    </div>
    <div>
        @Html.RouteLink("Voltar para a Lista", "AccountIndex")
    </div>
</div>