@model LoginViewModel

@{
    ViewBag.Title = "Clinike Login";
    Layout = "~/Views/Account/_LayoutLogin.cshtml";
}


<div id="login" class="animate form">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h1>Login</h1>
        @Html.EditorFor(m => m.ValidationSummary)
        if (Model.ActionPerformed)
        {
            <div class="message">
                @("Requisição feita com sucesso!")
            </div>
        }
        <p>
            @Html.LabelFor(m => m.UserName, new { @data_icon = "u" })
            @Html.TextBoxFor(m => m.UserName, new { @placeholder = "username" })
            @Html.ValidationMessageFor(m => m.UserName)
        </p>
        <p>
            @Html.LabelFor(m => m.Password, new { @data_icon = "p" })
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </p>

        <div style="display: table-row" class="keeplogin">
            <div style="width: 320px; display: table-cell;">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
            <div style="display: table-cell;">
                <a href="#tolostpassword" class="to_lostpassword">Esqueci minha senha</a>
            </div>
        </div>

        <p class="login button">
            <input type="submit" value="Login" />
        </p>

        <p class="change_link">
            Se ainda não tem uma conta de usuário/paciente
            <a href="#toregister" class="to_register">Solicite seu Login</a>
        </p>
    }
</div>

@Html.Partial("_RequestLogin", Model.RequestLogin)

@Html.Partial("_LostPassword", Model.LostPassword)