@model RegisterViewModel
@{
    ViewBag.Title = "Registro de Usuário";
}

<div class="col-xs-12 col-sm-12">
    <div class="box">
        <div class="box-header">
            <div class="box-name">
                <i class="fa fa-user"></i>
                <span>Usuário</span>
            </div>
            <div class="box-icons">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="expand-link">
                    <i class="fa fa-expand"></i>
                </a>
            </div>
            <div class="no-move"></div>
        </div>
        <div class="box-content">
            <h4 class="page-header">Criar novo usuário</h4>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                    <div class="col-sm-3">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-sm-3">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-sm-3">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-8 col-sm-4">
                        <button type="reset" class="btn btn-default btn-label-left">
                            Limpar
                        </button>
                        <button type="button" class="btn btn-danger btn-label-left">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            Excluir
                        </button>
                        <button type="submit" class="btn btn-primary btn-label-left">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            Salvar
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>