<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="product" content="Clinike">
    <meta name="description" content="Controle para consultórios médico, veterinário e odontológico">
    <meta name="author" content="IkeCode">

    <title>@ViewBag.Title - Clinike (v0.2)</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link href='//fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css' />
    @Styles.Render("~/cssBundles/styles")

    <!--[if lt IE 9]>
            <script src="//getbootstrap.com/docs-assets/js/html5shiv.js"></script>
            <script src="//getbootstrap.com/docs-assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    @Html.Partial("_Header")

    <!--Start Container-->
    <div id="main" class="container-fluid">
        <div class="row">
            @Html.Partial("_Sidebar")
            <!--Start Content-->
            <div id="content" class="col-xs-12 col-sm-10">
                <div id="about">
                    <div class="about-inner">
                        <h4 class="page-header">Open-source CMS for Clinike Management</h4>
                        <p>IkeCode</p>
                        <p>Homepage - <a href="http://devoops.me" target="_blank">http://devoops.me</a></p>
                        <p>Email - <a href="mailto:ikecode@gmail.com">ikecode@gmail.com</a></p>
                        <p>Twitter - <a href="http://twitter.com/ikecode" target="_blank">http://twitter.com/ikecode</a></p>
                    </div>
                </div>

                @*<div class="preloader">
                        <img src="~/Content/img/devoops_getdata.gif" class="devoops-getdata" alt="preloader" />
                    </div>*@

                @Html.Partial("_Breadcrumb")
                <div class="row">
                    @RenderBody()
                </div>
            </div>
            <!--End Content-->
        </div>
    </div>
    <!--End Container-->
    @*@Html.Partial("_Footer")*@

    @Scripts.Render("~/jsBundles/jquery")

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        Common._modelAssemblyName = 'IkeCode.Clinike.Data';
        Common._enumNamespaceName = 'Enums';
    </script>
</body>
</html>