<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="gt-ie8 gt-ie9 not-ie">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="product" content="Clinike">
    <meta name="description" content="Controle para consultórios médico, veterinário e odontológico">
    <meta name="author" content="Leandro Barral">

    <title>@ViewBag.Title - Clinike</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">

    @Styles.Render("~/cssBundles/styles")

    <!--[if lt IE 9]>
        <script src="~/Scripts/ie.min.js"></script>
    <![endif]-->
</head>
<body class="theme-default main-menu-animated">

    <script>var init = [];</script>

    <div id="main-wrapper">
        @Html.Partial("_Header")

        @Html.Partial("_Menu")
        
        <div id="content-wrapper">
            @Html.Partial("_Breadcrumb")

            @Html.Partial("_PageHeader")

            <div class="row">
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>
            <div id="main-menu-bg"></div>
        </div>
    </div>
    
    @Scripts.Render("~/jsBundles/js")

    <script type="text/javascript">
        window.PixelAdmin.start(init);
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
