@model int
<div class="row">
    <div id="divPersonEditForm" data-bind="with: $root.person">
        @Html.Partial("_Detail")
    </div>
    <div class="col-sm-12">
        <ul id="personChildrenTabs" class="nav nav-tabs">
            <li>
                <a href="#phones" data-toggle="tab"><i class="fa fa-phone"></i> Telefones</a>
            </li>
            <li>
                <a href="#addresses" data-toggle="tab"><i class="fa fa-home"></i> Endereços</a>
            </li>
            <li>
                <a href="#documents" data-toggle="tab"><i class="fa fa-file-text"></i> Documentos</a>
            </li>
        </ul>

        <div id="defaultRowActions" style="display: none">
            <a class="edit" href="javascript:void(0)" title="Editação Compacta">
                <i class="fa fa-pencil"></i>
            </a>
            <a class="delete" href="javascript:void(0)" title="Apagar">
                <i class="fa fa-trash-o"></i>
            </a>
        </div>

        <div class="tab-content tab-content-bordered">
            <div role="tabpanel" class="tab-pane" id="phones">
                <div id="phonesToolbar">
                    <button class="btn btn-success" type="button" name="new" title="Novo">
                        <i class="fa fa-plus"></i>
                        Novo
                    </button>
                </div>
                <table id="dtPhones" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"></table>

                <div class="modal fade" id="divPhoneEditForm" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Telefone</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row" data-bind="with: $root.phone">
                                    @Html.Partial("_PhoneDetail")
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                <button type="button" data-bind="$root.save" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="addresses">
                <div id="addressesToolbar">
                    <button class="btn btn-success" type="button" name="new" title="Novo">
                        <i class="fa fa-plus"></i>
                        Novo
                    </button>
                </div>
                <table id="dtAddresses" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"></table>

                <div class="modal fade" id="divAddressEditForm" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Endereço</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row" data-bind="with: $root.address">
                                    @Html.Partial("_AddressDetail")
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                <button type="button" data-bind="$root.save" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="documents">
                <div id="documentsToolbar">
                    <button class="btn btn-success" type="button" name="new" title="Novo">
                        <i class="fa fa-plus"></i>
                        Novo
                    </button>
                </div>
                <table id="dtDocuments" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"></table>

                <div class="modal fade" id="divDocumentEditForm" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Documento</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row" data-bind="with: $root.document">
                                    @Html.Partial("_DocumentDetail")
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                <button type="button" data-bind="$root.save" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        var personViewModel = new ViewModels.Person.Detail($('#divPersonEditForm')[0], @Html.Raw(Model));
        var phoneViewModel = new ViewModels.Phone.List($('#phones')[0], '#dtPhones', @Html.Raw(Model));
        var documentViewModel = new ViewModels.Document.List($('#documents')[0], '#dtDocuments', @Html.Raw(Model));
        var addressViewModel = new ViewModels.Address.List($('#addresses')[0], '#dtAddresses', @Html.Raw(Model));
    </script>

}